/**
 * Global font settings
 */

/**
 * Google fonts
 */
.abril {
  font-family: $abril;
}

/**
 * Apply specific font weight to bold settings
 */
b,
strong {
  @extend .fw7;
}

/**
 * Fancy blog link underlines
 */
.blog-link a {
  border-bottom-width: .25rem; 
  border-bottom-style: solid;
}
