/**
 * Custom styles on top of Tachyons
 */

.divider {
    width: 80px;
    height: 10px;
    border-radius: 1000px;
}

/**
 * Add breakpoint setting for BG colors
 * ( In use now in the header links )
 */
@media #{$breakpoint-not-small}{
    .bg-transparent-ns { 
        background-color: $transparent; 
    }
}

@media #{$breakpoint-medium}{
    .black-m { 
        color: $dark-gray; 
    }
}

@media #{$breakpoint-large}{
    .black-l { 
        color: $dark-gray; 
    }
}

/**
 * New shit
 */
:root {
    accent-color: lime;
}