/**
 * Global font settings
 */

/**
 * TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
     7 = 7th step in size scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

  .f1 { font-size: 3rem; }    = 48px
  .f2 { font-size: 2.25rem; } = 36px
  .f3 { font-size: 1.5rem; }  = 24px
  .f4 { font-size: 1.25rem; } = 20px
  .f5 { font-size: 1rem; }    = 16px
  .f6 { font-size: .875rem; } = 14px
  .f7 { font-size: .75rem; }  = 12px

*/

// .f18 { font-size: 1.125rem; }

/**
 * Google fonts
 */
.abril {
  font-family: $abril;
  font-weight: 400;
}
.plex {
  font-family: $plex;
  font-weight: 400;
  font-display: block;
}
.plexb {
  font-family: $plex;
  font-weight: 600;
  font-display: block;
}

/**
 * Fancy blog link underlines
 */
.blog-link a {
  border-bottom-width: .25rem; 
  border-bottom-style: solid;
}

/**
 * Global type colors
 * $near-black: #111 !default;
 * $dark-gray: #333 !default;
 * $mid-gray: #555 !default;
 */

h1,
h2,
h3,
h4,
h5 {
  color: #111;
}

p,
li {
  color: #222;
}