/**
 * Global font settings
 */

/**
 * TYPE SCALE
 * Docs: http://tachyons.io/docs/typography/scale/
*/

/**
 * Custom fonts
 */
$font-head: 'Abril Fatface', georgia, serif;
$font-subhead: 'Open Sans', sans-serif, system-ui;
$font-body: 'Open Sans', sans-serif, system-ui;

/**
 * Google fonts
 */
.font-head {
  font-family: $font-head;
  font-weight: 400;
}

.font-subhead,
.font-body {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.font-subhead {
  font-family: $font-subhead;
  font-weight: 700;
}

.font-body {
  font-family: $font-body;
  font-weight: 400;
}