/**
 * Global font settings
 */

/**
 * TYPE SCALE
 * Docs: http://tachyons.io/docs/typography/scale/
*/

/**
 * Google fonts
 */
.abril {
  font-family: $abril;
  font-weight: 400;
}
.plex {
  font-family: $plex;
  font-weight: 400;
  font-display: block;
}
.plexb {
  font-family: $plex;
  font-weight: 600;
  font-display: block;
}
