/**
 * Global link styles
 */

p,
li {
  a {
    color: $dark-red;
    &:visited {
      color: $dark-red;
    }
    &:hover {
      color: black;
    }
    &:active {
      color: black;
    }
  }
}

/**
 * Fancy blog link underlines
 */

.blog-link a {
  border-bottom-width: .25rem; 
  border-bottom-style: solid;
  color: #222;
  &:visited {
    color: #222;
  }
  &:hover {
    color: #222;
  }
  &:active {
    color: #222;
  }
}