/**
 * List styles
 */

ul, ol {
  margin-left: 0;
  padding-left: 1rem;
}

li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  // Line height aligns with the Tachyons class lh-copy
  line-height: 1.5;
  // Responsive font sizes
  @media #{$breakpoint-medium} {
      font-size: 1.25rem;
  }
  @media #{$breakpoint-large} {
      font-size: 1.25rem;
  }
}