/**
 * My custom variables
 * This partial is grabbed during the Tachyons import process, 
 * so the variables will be applied in the correct order.
 */

/**
 * Custom fonts
 */
$abril: 'Abril Fatface', georgia, serif;
$plex: 'IBM Plex Mono', monospace;

/**
 * Reset Tachyons colors
 */
$gray: #666;

/**
 * Reset tachyons media query variables
 */
$breakpoint-not-small: 'screen and (min-width: 768px)';
$breakpoint-medium: 'screen and (min-width: 768px) and (max-width: 1280px)';
$breakpoint-large: 'screen and (min-width: 1280px)';
