/**
 * My custom variables
 * This partial is grabbed during the Tachyons import process, 
 * so the variables will be applied in the correct order.
 */

/**
 * Custom fonts
 */
$abril: 'Abril Fatface', georgia, serif;
$plex: 'IBM Plex Mono', monospace;

/**
 * Reset Tachyons colors
 */

/*
$near-black: #111; <- headers
$dark-gray: #333;  <- type
$mid-gray: #555;
$gray: #777;
$silver: #999;
*/
$dark-gray: #222;
$mid-gray: #444;
$gray: #666;
$silver: #888;

/**
 * Reset tachyons media query variables
 */
$breakpoint-not-small: 'screen and (min-width: 768px)';
$breakpoint-medium: 'screen and (min-width: 768px) and (max-width: 1280px)';
$breakpoint-large: 'screen and (min-width: 1280px)';
