<div class="flex-ns mt4">

	<div class="mr4 w-100 w-25-m w-25-l">
		<figure>
			<img src="img/{{include.image}}" class="br3" title="{{include.title}}" alt="{{include.alt}}">
			<figcaption class="gray">{{include.caption}}</figcaption>
		</figure>
	</div>

	<div class="w-100 w-75-m w-75-l">
		<p class="mt0 pt0 lh-copy f5 f4-m f4-l">{{include.paragraph-one}}</p>
		{% if include.paragraph-two %}
		<p class="mt0 pt0 lh-copy f5 f4-m f4-l">{{include.paragraph-two}}</p>
		{% endif %}
		{% if include.paragraph-three %}
		<p class="mt0 pt0 lh-copy f5 f4-m f4-l">{{include.paragraph-three}}</p>
		{% endif %}		
		{% if include.readmore-link %}
		<p class="lh-copy plex f5 f4-m f4-l"><a href="{{include.readmore-link}}">{{include.readmore-label}}</a></p>
		{% endif %}
	</div>

 </div>
